{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<html>
    <head>
        <title>Prices</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <table>
        <tr>
            <th>Offer</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Room</td>
            <td>$20</td>
        </tr>
        <tr>
            <td>Breakfast</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Pool ticket</td>
            <td>$15</td>
        </tr>
        <tr>
            <td>Room service</td>
            <td>$50</td>
        </tr>
        </table> 
    </body>
</html>
{% endblock %}